<%= render "shared/navbar" %>

<%# <div class="split mx-3"> %>
<div class="row flex-row-reverse mx-3" style="padding-top: 72px;">
  <% if flash[:alert] %>
    <%#= content_tag(:div, flash[:alert], class: "alert alert-danger") %>
  <% end %>
  
  <%# <div style="display:table-cell;width:30vw;"> %>
  <div class="col-lg-3">
    <div class="p-3">
      <%= "【#{Date.today.month}月のカレンダー】" %>
      <table class="design09 my-2">
        <thead>
          <tr>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
            <th>日</th>
          </tr>
        </thead>
        <tbody>
          <%
            begining_monthly = Date.new(Date.today.year,Date.today.month,1)
            current_mday = begining_monthly.prev_day((begining_monthly.wday+6)%7)
            [*0..5].each do |week|
          %>
            <tr>
              <% [*0..6].each do |day| %>
                <td><%= current_mday.day if current_mday.month == Date.today.month %></td>
                <% current_mday = current_mday.next %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%# <div style="display:table-cell;width:70vw;"> %>
  <div class="col-lg-9">
    <div class="weekly-grid p-3"> 
      <div class="weekly-headline p-1">
        <%="【今週と来週の行事予定】"%>
      </div>
      <%
        day_of_week = ["日", "月", "火", "水", "木", "金", "土"]
        current_wday = Date.today.prev_day((Date.today.wday+6)%7)
        [*0..13].each do |day|
      %>
        <div class="p-1">
          <div class="calendar-cel border">
            <%= "#{current_wday.month}月#{current_wday.day}日(#{day_of_week[current_wday.wday]})" %>
            <% current_wday = current_wday.next %>
          </div>
          <div class="calendar-cel border mt-1 h-130"></div>
        </div>
      <% end %>

    </div>
  </div>

</div>
<div class="mx-3 p-2 w-75">
  【お知らせ】
  <ul class="news-list">
    <li class="item">
        <a href="#">
            <p class="date"><%= "#{Date.today.month}月#{Date.today.day}日(#{day_of_week[Date.today.wday]})" %></p>
            <p class="category"><span>お知らせ</span></p>
            <p class="title">ここにお知らせが入りますここにお知らせが入りますここにお知らせが入ります</p>
        </a>
    </li>
    <li class="item">
        <a href="#">
            <p class="date"><%= "#{Date.today.prev_day(1).month}月#{Date.today.prev_day(1).day}日(#{day_of_week[Date.today.prev_day(1).wday]})" %></p>
            <p class="category"><span>お知らせ</span></p>
            <p class="title">ここにお知らせが入りますここにお知らせが入りますここにお知らせが入ります</p>
        </a>
    </li>
  </ul>
</div>