<div class="split-sidebar fixed-w-250 h-100 bg-white p-3">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>コード</th>
        <th>分掌役割</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>X000</td>
        <td><%= link_to "新規作成", new_responsibility_path, {class: ""} %></td>
      </tr>
    </tbody>
  </table>

  <% sections.each do |section| %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= section.code %></th>
        <th><%= section.name %></th>
      </tr>
    </thead>
    <tbody>
      <% section.responsibilities.each do |responsibility| %>
      <tr>
        <td><%= responsibility.code %></td>
        <td><%= responsibility.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

</div>