<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>校務支援システム</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'gantt_task', 'data-turbolinks-track': 'reload' if controller_name=="projects" %>
    <%= javascript_pack_tag 'gantt_global', 'data-turbolinks-track': 'reload' if controller_name=="projects" %>
    <%= javascript_pack_tag 'jspreadsheet', 'data-turbolinks-track': 'reload' if controller_name=="annual_students" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
